body {
    /* font-family: monospace !important; */
    background: rgb(215, 214, 228);
    background: radial-gradient(circle, rgba(215, 214, 228, 1) 2%, rgba(24, 24, 24, 0.9570203081232493) 100%, rgba(0, 212, 255, 1) 100%);
}

td {
    /* font-weight: bold; */
}

.titulo {
    padding: 5%;
    text-justify: auto;
    -webkit-text-stroke: 1px gray;
    -webkit-text-fill-color: black;
}

.decorado {
    color: black;
    font-weight: bold;
}